<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812341267523-a3ljfi2mi3rvu0qldi318263t6p5hib2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812341267523-a3ljfi2mi3rvu0qldi318263t6p5hib2</string>
	<key>API_KEY</key>
	<string>AIzaSyBA--9eMD7vOJTqiug6xzwiyR4sXxFXl3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>812341267523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectly</string>
	<key>PROJECT_ID</key>
	<string>app-connectly</string>
	<key>STORAGE_BUCKET</key>
	<string>app-connectly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812341267523:ios:268a5429187617c32858f6</string>
</dict>
</plist>